<div class="callout callout--primary">
  <div class="grid grid--1X2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        voluptate sapiente voluptas aliquam, nam nemo illo deleniti earum
        doloremque repellat dolorum odio harum, in tempora minima ex, odit
        necessitatibus quibusdam!
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
