<nav class="nav collapsible">
    <a href="/"><img src="images/logo.svg" alt="logo" /></a>
    <svg class="icon icon--white nav__toggler">
      <use xlink:href="images/sprite.svg#icon-menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">VPS</a></li>
      <li class="nav__item"><a href="#">Domain</a></li>
      <li class="nav__item"><a href="#">Hosting</a></li>
      <li class="nav__item"><a href="#">Pricing</a></li>
    </ul>
  </nav>
  <!-- 先渲染页面，再载入JS文件，所以放后面 -->
  <script src="js/main.js"""></script>