<!-- 这里使用内联样式，是为了把卡片的上部显示出来，正式整合时，删除 -->
<body style="padding: 5rem">
  <div class="card testimonial">
    <div class="grid grid--1X2">
      <div class="testimonial__image">
        <img src="images/testimonial.jpg" alt="A happy customer" />
        <span class="icon-container icon-container--accent">
          <svg class="icon icon--white icon--small">
            <use xlink:href="images/sprite.svg#icon-quotes"></use>
          </svg>
        </span>
      </div>
      <div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ipsa
            eos vero illum sed amet asperiores aut ducimus? Quibusdam,
            exercitationem odit. Amet cumque doloribus aut eos, voluptates
            commodi alias magni.
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="images/sprite.svg#icon-line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">Rocky Shen</h3>
                <p class="quote__organization">ABC Company</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</body>
